# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Levi\OneDrive - Stichting Hogeschool Utrecht\HBO-ICT\Periode C\Programming\venv\HU_WebShop_GP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
